[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
ratelimit = "*"

[dev-packages]
black = "*"
build = "*"
twine = "*"
sphinx = "*"
myst-parser = "*"

[scripts]
main = "python -m ghastoolkit"
build = "python -m build"
publish = "python -m twine upload dist/*"
clean = "rm -r ./src/ghastoolkit.egg-info/ && rm -r ./dist"
test = "python -m unittest discover -v -s ./tests -p 'test_*.py'"
fmt = "black ./src/ghastoolkit"
lint = "black --check ./src/ghastoolkit"
docs = "sphinx-build -b html ./docs ./docs/_build"
#
