[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
ratelimit = "*"

[dev-packages]
black = "*"
typing_extensions = "*"
build = "*"
twine = "*"
sphinx = "*"
myst-parser = "*"

[scripts]
main = "python -m ghastoolkit"
build = "python -m build"
publish = "python -m twine upload dist/*"
clean = "rm -r ./src/ghastoolkit.egg-info/ && rm -r ./dist"
test = "python -m unittest discover -v -s ./tests -p 'test_*.py'"
test-docs = "python -m doctest"
fmt = "black ./src/ghastoolkit"
lint = "black --check ./src/ghastoolkit"
docs = "pdoc --config show_source_code=False --force --output-dir docs src/ghastoolkit"
docs-serve = "pdoc --http 127.0.0.1:8181 --config show_source_code=False src/ghastoolkit"
#
